<!-- Preloader -->
<div id="preloader">
    <div class="preloader">
        <span></span>
        <span></span>
    </div>
</div>

<!-- Promo Area Start -->
<section class="promo-area" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="promo-wrap">
                    <h1 class="promo-title"><span>About</span> Us</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Promo Area End -->

<!-- Ourself Area Start -->
<section class="ourself-area section-padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-sm-6">
                <div class="about-txt">
                    <h3 class="section-title mb-4">
                        About Nashmi<span class="color"> Organization </span>
                    </h3>
                    <p>
                        We are a Jordan-based non-profit organization dedicated to supporting vulnerable communities
                        through three key initiatives: facilitating transparent financial donations to those in need,
                        promoting life-saving blood donation awareness and addressing related misconceptions, and
                        empowering individuals by providing handicraft training and a platform to showcase and sell
                        their creations online. Our mission is to foster a culture of giving, save lives, and promote
                        self-sufficiency across Jordan.
                    </p>
                    <ul>
                        <li>
                            Facilitate transparent donations reaching those in need efficiently.
                        </li>
                        <li>
                            Raise awareness about blood donation's importance and misconceptions.
                        </li>
                        <li>
                            Provide handicraft training to empower individuals towards self-sufficiency.
                        </li>
                        <li>
                            Offer an online platform to showcase and sell creations.
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="ourself-gallery owl-carousel shadow">
                    <div class="single-item">
                        <figure>
                            <img src="images/about-us/about-us1.jpg" alt="" />
                            <figcaption>
                                Education Proggrame is running smoothly.
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Ourself Area End -->

<!-- Service Area Start -->
<section class="service-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-intro">
                    <h2 class="section-title">
                        Nashmi <span class="color">Goals</span>
                    </h2>
                    <p>
                        Since its inception, the Nashmi platform has been unwavering in its commitment to achieving six
                        core objectives, which are:
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-sm-4">
                <div class="service-item shadow-sm rounded-2">
                    <span><i class="bi bi-coin fs-1"></i></span>
                    <h4>Effortless Giving</h4>
                    <p>
                        Create intuitive, secure digital platforms that facilitate
                        seamless global donations, empowering individuals worldwide to
                        contribute effortlessly to meaningful causes.
                    </p>
                </div>
            </div>
            <!-- Service Item End -->
            <div class="col-lg-4 col-sm-4">
                <div class="service-item shadow-sm rounded-2">
                    <span class="flaticon-technology"></span>
                    <h4>Targeted Support</h4>
                    <p>
                        Develop specialized donation channels that align with donors'
                        passions, ensuring contributions directly support initiatives
                        that resonate with their values and interests.
                    </p>
                </div>
            </div>

            <!-- Service Item End -->
            <div class="col-lg-4 col-sm-4">
                <div class="service-item shadow-sm rounded-2">
                    <span class="flaticon-medical"></span>
                    <h4>Poverty Reduction</h4>
                    <p>
                        Mobilize consistent donor support to eradicate poverty
                        sustainably, addressing both immediate needs and long-term
                        solutions to uplift marginalized communities.
                    </p>
                </div>
            </div>
            <!-- Service Item End -->
            <div class="col-lg-4 col-sm-4">
                <div class="service-item shadow-sm rounded-2">
                    <span class="flaticon-money"></span>
                    <h4>Community Engagement</h4>
                    <p>
                        Unite local groups through impactful drives that promote
                        solidarity and support, fostering a sense of community and
                        collective responsibility for societal well-being.
                    </p>
                </div>
            </div>
            <!-- Service Item End -->
            <div class="col-lg-4 col-sm-4">
                <div class="service-item shadow-sm rounded-2">
                    <span class="flaticon-people"></span>
                    <h4>Blood Donation</h4>
                    <p>
                        Raise awareness and encourage regular blood donations to save
                        lives, emphasizing the critical need for voluntary blood donors
                        to support healthcare systems.
                    </p>
                </div>
            </div>
            <!-- Service Item End -->
            <div class="col-lg-4 col-sm-4">
                <div class="service-item shadow-sm rounded-2">
                    <span class="flaticon-business"></span>
                    <h4>Handicraft Empowerment</h4>
                    <p>
                        Provide training and platforms for artisans to showcase their
                        creations, empowering individuals to achieve economic
                        independence and preserve cultural heritage.
                    </p>
                </div>
            </div>
            <!-- Service Item End -->
        </div>
    </div>
</section>

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="footer-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="footer-widget footer-about">
                    <div class="f-logo">
                        <a href="#">
                            <img src="~/images/components/logo-ye.png" alt="Logo" />
                        </a>
                    </div>
                    <p>
                        Support life-saving causes and empower communities by donating
                        money to provide essential resources, donating blood to save
                        lives, and shopping with us to support low-income entrepreneurs.
                    </p>
                    <div class="footer-social">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-sm-5 offset-sm-1">
                <div class="footer-widget">
                    <h3 class="widget-title">Useful Links</h3>
                    <ul>
                        <li><a href="~/">Profile</a></li>
                        <li><a href="~/Home/AboutUs">About Us</a></li>
                        <li><a href="~/Home/BloodCamping">Blood donation</a></li>
                        <li><a href="~/Shop/Index">Shop</a></li>
                        <li><a href="~/ContactRequest/CreateContact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="footer-widget">
                    <h3 class="widget-title">Filde Nashmi </h3>
                    <ul>
                        <li><a href="~/Home/Categories/28">
                                Educational</a></li>
                        <li><a href="~//Home/Categories/29">
                                Nutrition</a></li>
                        <li><a href="~/Home/Categories/30">
                                Healthcare</a></li>
                        <li><a href="~/Home/Categories/31">
                                Social Solidarity</a></li>
                        <li><a href="Home/Categories/32">
                                Religious</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-5 offset-sm-1 offset-lg-0">
                <div class="footer-widget">
                    <h3 class="widget-title">Contact Us</h3>
                    <ul class="footer-contact">
                        <li>
                            <i class="fa fa-home"></i>
                            <span>Jordan Amman</span>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i>
                            <span><a href="tel:+00962787020188">00962787020188</a></span>
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span><a href="mailto:omarsarawi66@gmail.com">nashmi@gmail.com</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row copy-right g-0">
            <div class="col-xl-6 col-md-7 order-2 order-md-1">
                <p>
                    Copyright © 2025. All Rights Reserved by
                    <a href="#">Nashmi</a>
                </p>
            </div>

        </div>
    </div>
</footer>
<!-- Footer Area Start -->